@font-face {
    font-family: "sen";
    src: url(/fonts/Poppins/Poppins-Italic.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "inter";
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
